/*
	BACKGROUND IMAGE OPTIONS
*/
.backgroundImage {
	background-image: url('../images/red-black-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
	position:fixed;
    padding:0;
    margin:0;
    height: 100%;
    width:100%;
    opacity: 0.8;  
    z-index: -1;
}

.homeInfo {
	width: 100%;
}

#login {
	width: 20%;
	margin: 0 auto;
}

#loginLink{
	float: right;
	margin-top: 94px;
	margin-right: -366px;
}

#user {
	width: 15%;
	margin: 0 auto;
}
p, h1, h2, h3, h4, h5, label, a, li, td {
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	overflow: hidden;
}

.header {
	border-bottom: solid black;
    padding-bottom: 5px;
	overflow: hidden;
}

.buttons {
	float: right;
	width: 60%;
}

.login {
	float: right;
}

#logo {
	float: left;
	width: 34%;
	position: absolute;
	top: 9%;
}
.login {
	width: 30 %;
	float: right;
}
.products ,
.homeInfo {
	width: 70 %;
	float: left;
	padding-top: 30px;
}

/*
	START BUTTONS 
*/
.buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #333333;
    margin: 0 15px 15px 0;
    width: 14%;
    line-height: 50px;
}
.buttons li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    font-size: 0.9vw;
}
 
.buttons li a:hover {
    text-decoratiofn: none;
    color: #FFFFFF;
    background-color: #FF0000;
}
/*
	END BUTTONS 
*/

/*
	START LISTS 
*/
.productsDisplay ul {
	list-style-type: circle;
	padding-left: 30px;
}


#brands .item{
  margin: 25px;
}
#brands .item img{
  display: block;
  width: 85%;
  height: auto;
}